@import './colors.scss';

.box {
  position: relative;
  background: linear-gradient(to bottom left,$color-secondary,$color-primary);
  // border: solid 3px transparent;
  border-radius: 10px;
  display: flex;
  box-sizing: border-box;
  background-clip: padding-box;
  padding: 1rem;
  z-index: 0; 

  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: 1.1px;
    border-radius: inherit;
    background: black;
  }

  &__title {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    transform: translate(25%, -55%);
    color: $color-tertiary;
    padding: 0 .5em;
    background: black;
    font-size: 1rem;
  }
}